html {
    background-color: #121212;
}
canvas {
    border:1px solid #d3d3d3;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
p {
    color: #d3d3d3;
}